 .intro{
width: 100%;
height: 72vh;
min-height: 100%;
background: url('../images/slide1-mainbg.png')
 no-repeat center;
background-size: cover;



}
 .intro-content{
    width: 50%;
    text-align: center;
    position: absolute;
    left:25%;
    top: 55%;
} 
.intro-content p{
    padding: 15px 0;
}
 .btn-intro{
    width:110px;
    padding:9px 0;
    background-color: black;
    color: white;
    border:none;
}
.intro-content .btn-intro i{
    padding:0 3px;
}


/* intro2 section css */


.intro2{
    width:100%;
    height: 350px;
    background: url('../images/xbox.png')no-repeat center center/cover;
}
.intro-content2{
    width: 40%;
    padding-top: 100px;
    
}
.intro-content2 h1, .intro-content2 p {
    
    padding: 10px 20px;
}
.intro-content2 .btn{
    margin-left:20px;
}


/* intro 3 */
/* intro2 section css */


.intro3{
    width:100%;
    height: 350px;
    margin:30px 0;
    background: url('../images/carbon.jpg')no-repeat center center/cover;
}
.intro-content3{
    width: 40%;
    padding-top: 100px;
    color:white;
    
}
.intro-content3 h1, .intro-content3 p {
    
    padding: 10px 20px;
}
.intro-content3 .btn{
    width:30%;
    margin:10px 0 0 20px;
    background-color: white;
    color: black;
    padding:10px 10px;
}
.intro-content3 .btn i{
    padding:0 5px;
}