@import "intro.css";
@import "multi-card-section.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.header-main {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  /* background-color: aquamarine; */
}
.mainheader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo,
.middle {
  display: flex;
}
.right-icons ul {
  display: flex;
  /* background-color: blue; */
}
.logo {
    /* background-color: brown; */
    width: 10%;
    padding: 11px 0;
    height: 45px;
}
.middle {
  /* background-color: chartreuse; */
  flex: 3;
  margin-left: 15px;
}
.right-icons ul {
  flex: 1;
  justify-content: flex-end;
}
.right-icons ul i {
  padding: 0 10px;
}
.navlinks {
  display: flex;
  align-items: center;
}
.navlinks a {
  padding: 0 10px;
}


.hamburger{
  display: none;
  padding:0 10px
}
.hamburger2{
  display: none;
}
 i:hover{
  transform: scale(1.5);
  transition: all 0.5s ease-in;
  opacity: 0.5;
}
  

@media(max-width:950px){
    
    .intro-content3{
        padding-top: 50px; 
    }
    
    .intro-content3 .btn-intro{
        width:50%;
    }
    .intro-content2{
      padding-top: 50px;
    }

    /* nav set */
    .navlinks{
   display: block;
   position: absolute;
   left: 0px;
   top:65px;
   width: 50%;
   height: 100%;
   background-color: #f2f2f2;
   opacity: 0.9;
   color:black;
   text-align: center;
   transform: translateX(-600px);
   transition: transform 0.5s;
    }
    .navlinks.show{
      transform: translateX(-20px);
    }
    .navlinks li{
      position: relative;
      top:22px;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    } 
    .hamburger{
      display: block;
    }
    .hamburger2{
      display: block;
    }
    }
    @media(max-width:768px){
      .card-container{
      grid-template-columns: repeat(2,1fr);
      margin-bottom: 10px;
     }
     .grid{
      grid-template-columns: repeat(2,1fr);
      margin: 0 0 0 50px;
     }
  }
    @media(max-width:500px){
      .navlinks{
        position: absolute;
        top:72px;
      }
      .card-container{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 10px;
       }
       .grid{
        grid-template-columns: repeat(1,1fr);
        margin: 0 0 0 50px;
       }
       .intro-content2 p ,.intro-content3 p{
         display: none;
       }
       .intro-content3 .btn-intro{
         width:87%;
       }
       .btn-intro i {
         padding-left:10px;
       }
    }
    /* 
    } 
    */